body {
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: 'Segoe UI', sans-serif;
    background: url("/images/envio-main.jpg") no-repeat center center fixed; 
}

.envio-main
{
    background: url("/images/envio-main.jpg") no-repeat center center fixed; 
}
.main-content {
	
}

.button-small {
	margin: 5px;
	height: 20px;
    width: 100px;
	color: #FFF;
    font-size: 12px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 1px rgba(0,0,0,.4);
    border-radius: 3px;
}

.button-small:hover {
	box-shadow: inset 0px 0px 4px rgba(0,0,0,.4);
	cursor: pointer;
}

.button-medium {
	font-family: "Segoe UI", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.button-medium2 {
    font-family: "Segoe UI", sans-serif;
  text-transform: uppercase;
  outline: 0;
  display: inline-block;
  background: #4CAF50;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.button-medium:hover {
	box-shadow: inset 0px 0px 4px rgba(0,0,0,.4);
	cursor: pointer;
}

.button-big {
	margin: 5px;
	height: 50px;
    width: 200px;
	color: #FFF;
    font-size: 18px;
    font-weight: bolder;
    outline: none;
    border: none;
    box-shadow: 0px 0px 1px rgba(0,0,0,.4);
    border-radius: 3px;
}

.button-big:hover {
	box-shadow: inset 0px 0px 4px rgba(0,0,0,.4);
	cursor: pointer;
}

.header-container {
	text-align: center;
}

.title-big {
	font-size: 50px;
    font-weight: bold;
}

.head-menu-container {
	display: flex;
	height: 40px;
}

.top-menu {
	display: flex;
	justify-content: space-around;
}

.menu-button {
	width: 150px;
	cursor: pointer;
	border: 1px solid;
	display: flex;
    align-items: center;
    justify-content: center;
}

.bg_c-grey {
	background-color: grey;
}

.form-big {
	text-align: center;
}

.input-list {

}

.input-container {

}

.input-medium {
	font-family: "Segoe UI", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.input-medium:focus {
    background-color: rgba(0,0,0,0.1);
}


.no-decoration {
	text-decoration: none;
}

.rooms-list {
	display: inline-block;
	width: calc(100% - 100px);
}

.room-elem {
	height:60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
    overflow: hidden;
    line-height: 40px;
    padding-left: 35px;
    background-color: #ebebeb;
    border-bottom: 1px solid black;
}

.room-elem:hover {
    box-shadow: inset 0px 0px 1px rgba(0,0,0,.5);
}

.modes-list {
	display: inline-block;
	width: calc(100% - 100px);
}

.mode-elem {
	height:60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
    overflow: hidden;
    line-height: 40px;
    padding-left: 35px;
    background-color: #ebebeb;
    border-bottom: 1px solid black;
}

.mode-elem:hover {
    box-shadow: inset 0px 0px 1px rgba(0,0,0,.5);
}

.list-button {
    height: 45px;
    color: #FFF;
    font-weight: bold;
    outline: none;
    border: none;
    box-shadow: 0px 0px 1px rgba(0,0,0,.5);
    border-radius: 3px;
    font-size: 15px;
}
    
.list-button:hover {
    cursor: pointer;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,.8);
}

.w_10p {
	width: 10%;
}
.w_15p {
	width: 15%;
}
.w_20p {
	width: 20%;
}
.w_25p {
	width: 25%;
}
.w_30p {
	width: 30%;
}

/* Login Page */

.login-page {
  width: 360px;
  padding: 2% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 55px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Segoe UI", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Segoe UI", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 49%;
  border: 0;
  margin: 1px;
  padding: 15px;
  padding-left: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

/* Header */

.logo
{
  width: 33%;
  height: 33%;
}
.post-header { margin-bottom: 0px; position: relative; }
h1 { color: #c9d0d4; font-family: 'Helvetica Neue', sans-serif; font-weight: 100; line-height: 20px; letter-spacing: 1px; padding: 0 0 40px; border-bottom: double #555; }
p { color: #fff; margin-top:-28px; font-family: 'Segoe UI Light', sans-serif; font-size: 24px;}
h2 { color: #fff; margin-top:-41px; font-family: 'Segoe UI Light', sans-serif; font-size: 35px;}
a { color: #c64119; border-bottom: 1px solid #c64119; text-decoration: none; }
a:hover { color: #993213; border-bottom: 1px solid #993213; }
.date { color: #bbc3c8; background: #292929; display: inline-block; font-family: 'Georgia', serif; font-style: italic; font-size: 18px; line-height: 22px; margin: 0 0 20px 18px; padding: 10px 12px 8px; position: absolute; bottom: -36px; }